services:
  huh.slick.model.config:
    class: HeimrichHannot\SlickBundle\Model\SlickConfigModel
    public: true
    deprecated: "Don't use service %service_id% anymore! Model classes are not intended to be used as service. Use the model class directly or as Adapter. Will be removed in a future update!"

  huh.slick.config:
    class: HeimrichHannot\SlickBundle\Config\SlickConfig
    public: true
  HeimrichHannot\SlickBundle\Config\SlickConfig: '@huh.slick.config'

  HeimrichHannot\SlickBundle\Asset\FrontendAsset:
    autowire: true
    public: true

  HeimrichHannot\SlickBundle\Asset\EncoreExtension:
    autoconfigure: true